asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
diff-match-patch==20241021
Django==4.2.23
django-import-export==4.3.8
django-nested-admin==4.1.1
django-s3direct==2.0.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
idna==3.10
inflection==0.5.1
packaging==25.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-decouple==3.8
python-monkey-business==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rest-framework-swagger==0.0.1
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3==2.5.0
